@charset "utf-8";
/* 초기화 */
body, h1, h2, p {margin: 0; padding: 0;}
/* header */
header {
    text-align: center; text-transform: uppercase; font-size: 100px;
    height: 700px;
    background-color: antiquewhite;
}
header h1 {padding-top: 100px;}
/* main */
main {padding: 50px;}
section {
    height: 500px; width: 100%;
    display: grid; grid-template-columns: auto auto auto auto;
}
section div {position: relative; opacity: 0;}
section div:nth-of-type(even) {top: 250px;} /* 짝수는 아래에서부터 */
section div:nth-of-type(odd) {top: -250px;} /* 홀수는 위에서부터 */
#content1 {background-color: aqua;}
#content2 {background-color: blueviolet;}
#content3 {background-color: brown;}
#content4 {background-color: burlywood;}
/* footer */
footer {padding: 200px 0; text-align: center; background-color: #000;}
footer p {color: #fff; font-size: 100px; text-transform: uppercase;}
[출처] JS / jQuery - 스크롤 이벤트를 사용한 요소 계단 애니메이션|작성자 알향